:root {
    --dark-green: #1a2f1a;
    --light-green: #4caf50;
    --hover-green: #45a049;
}

body {
    background-color: var(--dark-green);
}

.bg-dark-green {
    background-color: var(--dark-green) !important;
}

.navbar,
.footer {
    background-color: #152315 !important;
}

a {
    color: var(--light-green);
}

a:hover {
    color: var(--hover-green);
}

.btn-primary {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-primary:hover {
    background-color: var(--hover-green);
    border-color: var(--hover-green);
}

.scorecard-header {
    padding: 0 !important;
}

.scorecard-header a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.hole-link {
    padding: 0.75rem;
    /* Adjust this value to match your table's padding */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.scorecard-header a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* Slight highlight on hover */
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-check:checked+.btn-outline-primary {
    color: #fff;
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-outline-primary {
    color: #fff;
    border-color: #fff;
    background-color: rgb(54, 68, 68);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--light-green);
    border-color: var(--light-green);
}